@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Machines</h1>

@if (@Model.Count == 0)
{
  <h3>No machines have been added yet!</h3>
} 

@foreach (Machine machine in Model)
{
  <li>@Html.ActionLink($"{machine.Title}", "Details", new { id = machine.MachineId })</li>
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Add New Machine", "Create")</p>
</div>